.form-control {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

.btn , .btnRed {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    background-color:mediumseagreen;
    color: white;
    margin-left: 30px;
    margin-bottom: 30px;
}

.btnEdit {
    width: 150px;
    background-color: darkkhaki;
    color: black;
    margin: auto;
}

.btnDel{
    background-color: red;
    color: white;
}

.catTitle {
    font-family: "Berlin Sans FB", serif;
}

.table {
    width: auto;
    margin: auto;
}

.btnRed {
    background-color: red;
}

.btnYellow {
    background-color: #ffab28;
    color: black;
}

.btnAdmin {
    background-color: red;
    color: white;
    width: 300px;
    font-style: italic;
}

.lbl {
    font-size: 20px ;
    margin-right: 20px;
    margin-top: 20px;
}

.inpt {
    font-size: 20px;
    width: 300px;
}