.form-control {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

.btn {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

.btnAdmin {
    background-color: red;
    color: white;
    width: 300px;
    font-style: italic;
}